<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <property name="CONSOLE_LOG_COLOR"
              value="%n%clr(┌) %clr(%date{HH:mm:ss.SSS}){faint}%clr(%5level) %clr(%thread){yellow} %clr(%class){cyan}%clr(:%line){magenta} %clr(test){faint} %n%clr(└) %clr(%method){blue} %message %n"/>

    <logger name="jdbc" level="OFF"/>
    <logger name="jdbc.sqlonly" level="OFF"/>
    <logger name="jdbc.sqltiming" level="DEBUG"/>
    <logger name="jdbc.audit" level="OFF"/>
    <logger name="jdbc.resultset" level="OFF"/>
    <logger name="jdbc.resultsettable" level="DEBUG"/>
    <logger name="jdbc.connection" level="OFF"/>

    <appender name="STDOUT_COMMON" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_COLOR}</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="STDOUT_COMMON"/>
    </root>

</configuration>